.BasketModal-body {
  padding-bottom: 89px;
}

.BasketModal-content {
  padding: 71px 0px 20px 0px;
}

.BasketModal-item {
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  font-size: 16px;
}

.BasketModal-item:not(:first-child) {
	border-top: none;
}

.BasketModal-total {
  display: flex;
  justify-content: flex-end;
  width: 88%;
  font-weight: 700;
}

.BasketModal-descr {
  margin: 0;
  padding-right: 53px;
}

.BasketModal-amount {
  margin: 0;
  font-weight: 700;
}
